@{
    Layout = null;
}

<style>
    .dashboard-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
    }

    .chart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    canvas {
        width: 100% !important;
        height: 400px !important;
        object-fit: contain;
    }

    h3 {
        font-family: Arial;
    }
</style>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Extras/favicon.png" type="image/x-icon">
    <title>QualityScout</title>
    <link rel="stylesheet" href="~/css/IndicadorHome.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav-i">
            <div>
                <a href="@Url.Action("RedirigirSegunRol", "Home")">
                    <img class="logoqs" src="~/Extras/QualityScoutLogo.png" alt="Logo de Quality Scout">
                </a>
            </div>
            <div class="login-btn">
                <div class="div2">
                    <div class="welcome-container">
                        <span class="welcome-text">Bienvenido!</span>
                        <a class="btn-login" asp-action="Index1" asp-controller="Home">Iniciar sesión</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="content">
        <div class="content">
            <h2 class="accesotitulo">Accesos rápidos</h2>
            <div class="quick-access">
                <div class="icon-item">
                    <a asp-action="Index2" asp-controller="Home">
                        <img src="~/Extras/dashboardc.png" alt="Dashboard">
                    </a>
                    <span>Dashboard</span>
                </div>
                <div class="icon-item">
                    <a asp-action="Index2" asp-controller="Home">
                        <img src="~/Extras/usuarios.png" alt="Usuarios" />
                    </a>
                    <span>Usuarios</span>
                </div>
                <div class="icon-item">
                    <a asp-action="Index2" asp-controller="Home">
                        <img src="~/Extras/controles.png" alt="Controles">
                    </a>
                    <span>Controles</span>
                </div>
                <div class="icon-item">
                    <a asp-action="Index2" asp-controller="Home">
                        <img src="~/Extras/productos.png" alt="Productos" />
                    </a>
                    <span>Productos</span>
                </div>
                <div class="icon-item">
                    <a asp-action="Index2" asp-controller="Home">
                        <img src="~/Extras/Informes.png" alt="Informes" />
                    </a>
                    <span>Informes</span>
                </div>
                <div class="icon-item">
                    <a asp-action="Index2" asp-controller="Home">
                        <img src="~/Extras/escanera.png" alt="Escaner" />
                    </a>
                    <span>Escaneos</span>
                </div>
            </div>

            <div class="dashboard-container">
                <div class="chart-container">
                    <h3>INDICADORES DE RENDIMIENTO ACTUALES</h3>
                    <canvas id="indicadoresRendimiento"></canvas>
                </div>
            </div>

            <div class="dashboard">
                <div class="dashboard-indicators">
                    <div class="indicator-container">
                        <div class="indicator reprocesos">
                            <span class="indicator-title">Controles en reproceso</span>
                            <div class="indicator-value">
                                <span class="percentage">@Model.ReprocesadosMesAntiguo</span>
                                <span class="arrow-up">↑</span>
                            </div>
                        </div>
                    </div>

                    <div class="indicator-container">
                        <div class="indicator rechazados">
                            <span class="indicator-title">Controles rechazados</span>
                            <div class="indicator-value">
                                <span class="percentage">@Model.RechazadosMesAntiguo</span>
                                <span class="arrow-down">↓</span>
                            </div>
                        </div>
                    </div>

                    <div class="indicator-container">
                        <div class="indicator aprobados">
                            <span class="indicator-title">Controles aprobados</span>
                            <div class="indicator-value">
                                <span class="percentage">@Model.AprobadosMesAntiguo</span>
                                <span class="arrow-up">↑</span>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="reference-text">Indicadores con referencia al mes actual: @Model.MesAnterior @Model.AnioAnterior</p>

            </div>
        </div>
    </div>

    <iframe id="iframeId"
            src="https://www.stack-ai.com/embed/f4e0d66c-8812-4db0-9270-b3eaaeee09e5/f9dd681e-90cd-4c15-b0a6-c40c70bd9f57/6747bfc6ae163a26df8eb677"
            width="350"
            height="600"
            frameborder="0"
            style="position: fixed; z-index: 1; bottom: 15px; right: 15px;"></iframe>

    

    <script>
        function handleMessage(event) {
          if (event.data.type === 'chatbotStateChange') {
            const iframe = document.getElementById('iframeId')
            if (iframe) {
              if (event.data.isClosed) {
                iframe.style.width = '100px'
                iframe.style.height = '100px'
                iframe.style.display = 'flex'
                iframe.style.justifyContent = 'center'
                iframe.style.alignContent = 'center'
              } else {
                iframe.style.width = '350px'
                iframe.style.height = '650px'
              }
            }
          }
        }

        // Attach event listener
        window.addEventListener('message', handleMessage)

        // If you want to clean up the event listener when the page unloads (optional)
        window.addEventListener('beforeunload', function () {
          window.removeEventListener('message', handleMessage)
        })
    </script>

    <script>
        var indicadoresRendimiento = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.IndicadoresRendimiento));

        var labels = indicadoresRendimiento.map(i => i.Estado);
        var data = indicadoresRendimiento.map(i => i.Cantidad);

        new Chart(document.getElementById('indicadoresRendimiento'), {
            type: 'doughnut',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Indicadores de Rendimiento',
                    data: data,
                    backgroundColor: [
                        '#F25757',
                        '#260202',
                        '#BF6565'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        callbacks: {
                            label: function (tooltipItem) {
                                return tooltipItem.label + ': ' + tooltipItem.raw.toLocaleString();
                            }
                        }
                    },
                    datalabels: {
                        color: '#FFFFFF',
                        formatter: (value, context) => {
                            const label = context.chart.data.labels[context.dataIndex];
                            return `${label} \n       ${value.toLocaleString()}`;
                        },
                        align: 'center',
                        anchor: 'center',
                        offset: -85,
                        clamp: false,
                        font: {
                            size: 15,
                            weight: 'bold',
                            color: '#FFFFFF',
                            aling: 'center'
                        },
                    }
                },
                cutout: '40%',
                layout: {
                    padding: {
                        top: 8,
                        right: 30,
                        bottom: 8,
                        left: 30
                    }
                }
            },
            plugins: [ChartDataLabels]
        });
    </script>
</body>
</html>
