@model ScannerCC.Models.InformacionQuimica

@{
    Layout = null;
}

<style>
    .container {
        position: relative;
        z-index: 1; /* Asegura que el contenido esté por encima de las imágenes de fondo */
        max-width: 500px; /* Ajusta el ancho máximo que desees */
        margin: auto; /* Centra el contenedor en la pantalla */
    }

    .form-group {
        margin-bottom: 15px;
    }

    label, dt {
        color: #4B0404; /* Cambia este valor por el color que desees */
        font-family: Arial;
        border: none;
        padding: 5px;
    }

    input, dd {
        color: black; /* Color del texto */
        padding: 5px; /* Espaciado interno */
        background-color: #DBD7D7;
        border-radius: 5px; /* Bordes redondeados (opcional) */
        font-family: Arial;
        font-size: 12px;
        border: none;
    }

        input.acc {
            background-color: #BF6565;
            width: 30%;
        }

    select {
        color: black; /* Color del texto */
        background-color: #DBD7D7; /* Color de fondo */
        padding: 5px; /* Espaciado interno */
        border-radius: 5px; /* Bordes redondeados (opcional) */
        font-family: Arial;
        border: none;
    }

    button {
        color: white; /* Color del texto */
        padding: 5px; /* Espaciado interno */
        background-color: #BF6565;
        border-radius: 5px; /* Bordes redondeados (opcional) */
        font-family: Arial;
        border: none;
        width: 30%;
    }

        button.btn {
            background-color: black;
            width: 30%;
        }

    input, select, dd {
        width: 100%;
        margin: 5px;
    }

    button[type="submit"] {
        background-color: #BF6565;
        color: white;
        width: 45%;
    }

        button[type="submit"]:hover {
            background-color: #F25757;
            color: white;
            width: 45%;
        }

    a {
        color: white;
    }

        a:hover {
            color: #62EBF0;
        }

    h3 {
        color: #4B0404;
    }

    .titulos {
        font-family: Arial;
        font-size: 10px;
        padding-left: 5px;
    }

    .profile-header {
        display: flex;
        align-items: center; /* Alinea verticalmente la imagen y el texto */
        margin-bottom: 20px;
    }

    .profile-image {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        background-color: #260202;
        margin-top: 60px;
        margin-left: 80px;
    }

    .info-left {
        text-align: center;
        margin-top: 80px;
    }

    .modal {
        display: none; /* Oculto por defecto */
        position: fixed;
        z-index: 100; /* Asegura que está por encima del contenido */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    }

    /* El contenedor de contenido del modal */
    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border-radius: 8px;
        width: 400px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }

    /* Título de alerta */
    .alerta {
        color: #260202;
        font-size: 24px;
        margin-bottom: 15px;
    }

    /* Texto dentro del modal */
    .modal-content p {
        font-size: 18px;
        color: #333;
    }

    /* Botones del modal */
    .modal-buttons {
        margin-top: 20px;
    }

    /* Texto destacado en rojo */
    .desactivar {
        color: #f25757;
    }

</style>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Extras/favicon.png" type="image/x-icon">
    <title>QS - Eliminar información química</title>
    <link rel="stylesheet" href="~/css/Nav.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav-i">
            <a href="@Url.Action("RedirigirSegunRol", "Home")">
                <img class="logoqs" src="~/Extras/QualityScoutLogo.png" alt="Logo de Quality Scout">
            </a>
            <div class="navstyle">
                <div class="iconosnav">
                    <a asp-action="Index" asp-controller="Especialista">
                        <img src="~/Extras/home.png" alt="Inicio" />
                    </a>
                </div>
                <div class="iconosnav">
                    <a asp-action="GestionUsuarios" asp-controller="Usuario">
                        <img src="~/Extras/usuarios.png" alt="Usuarios" />
                    </a>
                </div>
                <div class="iconosnav">
                    <a asp-action="Controles" asp-controller="Controles">
                        <img src="~/Extras/controles.png" alt="Controles" />
                    </a>
                </div>
                <div class="iconosnav">
                    <a asp-action="GestionProductos" asp-controller="Producto">
                        <img src="~/Extras/productos.png" alt="Productos" />
                    </a>
                </div>
                <div class="iconosnav">
                    <a asp-action="GestionInformes" asp-controller="Informes">
                        <img src="~/Extras/Informes.png" alt="Informes" />
                    </a>
                </div>
                <div class="iconosnav">
                    <a asp-action="GestionEscaneos" asp-controller="Escaneos">
                        <img src="~/Extras/escaner.png" alt="Informes" />
                    </a>
                </div>
            </div>
            <div class="login-btn">
                <div class="div2">
                    <img class="icono-lapiz" src="~/Extras/especialista.png" alt="Especialista">
                    <div class="welcome-container">
                        <span class="welcome-text">Bienvenido!</span>
                        <p style="font-size:12px;">@GetFirstNameAndSurnameB(ViewBag.trab.Nombre)</p>

                        @functions {
                            public string GetFirstNameAndSurnameB(string fullName)
                            {
                                if (string.IsNullOrEmpty(fullName))
                                {
                                    return string.Empty;
                                }

                                var nameParts = fullName.Split(' ');

                                if (nameParts.Length >= 2)
                                {
                                    return nameParts[0] + " " + nameParts[2];
                                }

                                return nameParts[0];
                            }
                        }
                        <p style="font-size:12px;">Especialista</p>
                    </div>
                </div>
                <button id="showOptionUser" onclick="showOptionUser()">
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                <div id="opcionesUser" style="display: none">
                    <ul>
                        <li>
                            <a style="color:white;" asp-action="Details" asp-controller="Usuario" asp-route-id="@ViewBag.trab.Id">
                                Editar usuario
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Auth" asp-action="LogOut" class="dropdown-item" style="color:red; text-decoration:none;">
                                Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="content">
        <div class="content">
            <h2 class="accesotitulo">Eliminar información química</h2>
        </div>
    </div>

    <div class="container">
    <dl class="row justify-content-center">
            <div class="row justify-content-center">
                <dt>
                    Cepa vino
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Cepa)
                </dd>
                <dt>
                    Mínimo de azúcar (gr)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MinAzucar)
                </dd>
                <dt>
                    Máximo de azúcar (gr)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MaxAzucar)
                </dd>
                <dt>
                    Mínimo de sulfuroso (mg/l)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MinSulfuroso)
                </dd>
                <dt>
                    Máximo de sulfuroso (mg/l)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MaxSulfuroso)
                </dd>
                <dt>
                    Mínimo de densidad (g/ml)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MinDensidad)
                </dd>
                <dt>
                    Máximo de densidad (g/ml)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MaxDensidad)
                </dd>
                <dt>
                    Mínimo de grado de alcohol
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MinGradoAlcohol)
                </dd>
                <dt>
                    Máximo de grado de alcohol
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.MaxGradoAlcohol)
                </dd>
            </div>
    </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btnAccionForm" value="Eliminar" style="margin-top: 20px; margin-left: 280px; margin-bottom: 50px;">
                <i class="fa-solid fa-eraser"></i> Eliminar informacion química
            </button>
        </form>
</div>
</body>
<script src="~/js/quagga.min.js"></script>
<script src="~/js/especialista.js"></script>

</html>