@{
    Layout = null;
    bool isEspecialista = User.IsInRole("Especialista");
    bool isControlCalidad = User.IsInRole("Control de Calidad");
}

<style>
    label, dt {
        color: #4B0404; /* Cambia este valor por el color que desees */
        font-family: Arial;
        border: none;
        padding: 5px;
        font-size: 15px;
        width:100%;
    }

    input {
        border-radius: 5px; /* Bordes redondeados (opcional) */
        font-family: Arial;
        background-color: #DBD7D7;
        padding: 5px;
        border: none;
        font-size: 15px;
        width: 100%;
    }

        .acc {
            color: white;
            background-color: #BF6565;
            width: 30%;
            padding: 5px;
            font-size: 14px;
        }

        button.btn {
        color: black;
        background-color: #DBD7D7;
        width: 30%;
        padding: 5px;
        font-size: 14px;
        }


    .modal {
        display: none; /* Oculto por defecto */
        position: fixed;
        z-index: 100; /* Asegura que está por encima del contenido */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    }

    /* El contenedor de contenido del modal */
    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border-radius: 8px;
        width: 200px;
        text-align: center;
        font-family: Arial;
    }

    /* Título de alerta */
    .alerta {
        color: #260202;
        font-size: 24px;
        margin-bottom: 15px;
    }

    /* Texto dentro del modal */
    .modal-content p {
        font-size: 18px;
        color: #333;
    }

    /* Botones del modal */
    .modal-buttons {
        margin-top: 20px;
    }

    /* Texto destacado en rojo */
    .desactivar {
        color: #f25757;
    }

    .btn-deactivate {
        background-color: #BF6565;
        color: white;
    }
</style>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Extras/favicon.png" type="image/x-icon">
    <title>QS - Gestión informes</title>
    <link rel="stylesheet" href="~/css/GestionInformes.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav-i">
            <a href="@Url.Action("RedirigirSegunRol", "Home")">
                <img class="logoqs" src="~/Extras/QualityScoutLogo.png" alt="Logo de Quality Scout">
            </a>
            <div class="navstyle">
                @if (isEspecialista)
                {
                    <div class="iconosnav">
                        <a asp-action="Index" asp-controller="Especialista">
                            <img src="~/Extras/home.png" alt="Inicio" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionUsuarios" asp-controller="Usuario">
                            <img src="~/Extras/usuarios.png" alt="Usuarios" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="Controles" asp-controller="Controles">
                            <img src="~/Extras/controles.png" alt="Controles" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionProductos" asp-controller="Producto">
                            <img src="~/Extras/productos.png" alt="Productos" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionInformes" asp-controller="Informes">
                            <img src="~/Extras/Informes.png" alt="Informes" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionEscaneos" asp-controller="Escaneos">
                            <img src="~/Extras/escaner.png" alt="Informes" />
                        </a>
                    </div>
                }

                @if (isControlCalidad)
                {
                    <div class="iconosnav">
                        <a asp-action="Index" asp-controller="Controlcalidad">
                            <img src="~/Extras/home.png" alt="Inicio" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="Controles" asp-controller="Controles">
                            <img src="~/Extras/controles.png" alt="Controles" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionProductos" asp-controller="Producto">
                            <img src="~/Extras/productos.png" alt="Productos" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionInformes" asp-controller="Informes">
                            <img src="~/Extras/Informes.png" alt="Informes" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionEscaneos" asp-controller="Escaneos">
                            <img src="~/Extras/escaner.png" alt="Informes" />
                        </a>
                    </div>
                }
            </div>
            <div class="login-btn">
                <div class="div2">
                    @if (isEspecialista)
                    {
                        <img class="icono-lapiz" src="~/Extras/especialista.png" alt="Especialista">
                        <div class="welcome-container">
                            <span class="welcome-text">Bienvenido!</span>
                            <p style="font-size:12px;">@GetFirstNameAndSurnameB(ViewBag.trab.Nombre)</p>

                            @functions {
                            public string GetFirstNameAndSurnameB(string fullName)
                            {
                                if (string.IsNullOrEmpty(fullName))
                                {
                                    return string.Empty;
                                }

                                var nameParts = fullName.Split(' ');

                                if (nameParts.Length >= 2)
                                {
                                    return nameParts[0] + " " + nameParts[2];
                                }

                                return nameParts[0];
                            }
                        }
                        <p style="font-size:12px;">Especialista</p>
                        </div>
                    }

                    @if (isControlCalidad)
                    {
                        <img class="icono-lapiz" src="~/Extras/controldecalidad.png" alt="Especialista">
                        <div class="welcome-container">
                            <span class="welcome-text">Bienvenido!</span>
                            <p style="font-size:12px;">@GetFirstNameAndSurnameBC(ViewBag.trab.Nombre)</p>

                            @functions {
                            public string GetFirstNameAndSurnameBC(string fullName)
                            {
                                if (string.IsNullOrEmpty(fullName))
                                {
                                    return string.Empty;
                                }

                                var nameParts = fullName.Split(' ');

                                if (nameParts.Length >= 2)
                                {
                                    return nameParts[0] + " " + nameParts[2];
                                }

                                return nameParts[0];
                            }
                        }
                        <p style="font-size:12px;">Control de Calidad</p>
                        </div>
                    }
                </div>
                <button id="showOptionUser" onclick="showOptionUser()">
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                <div id="opcionesUser" style="display: none">
                    <ul>
                        <li>
                            <a style="color:white;" asp-action="Details" asp-controller="Usuario" asp-route-id="@ViewBag.trab.Id">
                                Editar usuario
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Auth" asp-action="LogOut" class="dropdown-item" style="color:red; text-decoration:none;">
                                Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="content">
        <div class="content">
            <h2 class="accesotitulo">Gestión de informes</h2>
        </div>
    </div>

<main>
    <div class="search-add-container">
            <form asp-action="GestionInformes" method="get" class="search-b" >
                <input type="text" placeholder="🔍 Busca por titulo o enfoque" class="search-bar" name="Busqueda" />
            </form>

    </div>
        <div class="search-add">
            @if (isEspecialista)
            {
                <button class="btn-deactivate" onclick="openModal()"><strong>+</strong> Generar informes con IA</button>
            }

    </div>

    <section class="informes-list">
            <h2 class="titulo" style="margin-top: 10px;">Registros</h2>

        @if (ViewBag.Informes != null && ViewBag.Informes.Count > 0)
        {
            @foreach (var item in ViewBag.Informes)
            {
                <div class="informes-card">

                    <div class="informes-info">
                            <img src="~/Extras/Informes.png" class="user-icon" />
                            <div>
                                <p><strong>Título:</strong> @item.Titulo</p>
                                <p>Enfoque: @item.Enfoque</p>
                            </div>
                    </div>
                        <div class="informes-details">
                            <p><strong>Fecha:</strong> @item.Fecha.ToString("dd/MM/yyyy") <strong style="margin-left: 10px;">Hora:</strong> @item.Fecha.ToString("HH:mm")</p>
                            <p>Encargado: @GetFirstNameAndSurname(item.Usuarios.Nombre)</p>
                            @functions {
                        public string GetFirstNameAndSurname(string fullName)
                        {
                            if (string.IsNullOrEmpty(fullName))
                            {
                                return string.Empty;
                            }

                            var nameParts = fullName.Split(' ');

                            if (nameParts.Length >= 2)
                            {
                                return nameParts[0] + " " + nameParts[2];
                            }

                            return nameParts[0];
                        }
                    }
                            </div>
                    <div class="informes-actions">
                            @if (isEspecialista)
                            {
                                <a class="see-btn" asp-action="Delete" asp-controller="Informes" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                </a>
                                <a class="see-btn" asp-action="Details" asp-controller="Informes" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i>
                                </a>
                            }

                            @if (isControlCalidad)
                            {
                                <a class="see-btn" asp-action="Details" asp-controller="Informes" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i>
                                </a>
                            }

                    </div>
                </div>
            }
        }
        else
        {
            <p style="text-align: center;">No hay informes para mostrar</p>
        }
    </section>
</main>


    <div id="modal" class="modal" style="display: none;">
        <div class="modal-content">

            <form asp-action="Previsualizar" method="post">
            <dt class=>
                Título de informe
            </dt>

            <input required type="type" name="Titulo" value="" />

            <dt>
                Características a destacar
            </dt>
            <input type="type" name="enfoque" value="" />

            <p style="font-size: 10px; margin-top: 10px; font-style:italic;">Podrás encontrar los informes generados en registros.</p>


            <div class="d-flex justify-content-between w-100" style="margin-left: 5px; margin-top: 15px;">

                <input required type="submit" value="Generar" class="acc btn btn-danger" />

            </div>

            </form>
            <div class="d-flex justify-content-between w-100" style="margin-left: 5px; margin-top: 6px;">
                <button onclick="closeModal()" class="btn btn-secondary">Cancelar</button>
            </div>
        </div>
    </div>



</body>
<script src="~/js/especialista.js"></script>

</html>

<script>
    // Función para abrir el modal
    function openModal() {
        document.getElementById('modal').style.display = 'block';
    }

    // Función para cerrar el modal
    function closeModal() {
        document.getElementById('modal').style.display = 'none';
    }
        




</script>