@{
    Layout = null;
    bool isEspecialista = User.IsInRole("Especialista");
    bool isControlCalidad = User.IsInRole("Control de Calidad");
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Extras/favicon.png" type="image/x-icon">
    <title>QS - Previsualizar informe</title>
    <link rel="stylesheet" href="~/css/PrevisualizarInforme.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav-i">
            <a href="@Url.Action("RedirigirSegunRol", "Home")">
                <img class="logoqs" src="~/Extras/QualityScoutLogo.png" alt="Logo de Quality Scout">
            </a>
            <div class="navstyle">
                @if (isEspecialista)
                {
                    <div class="iconosnav">
                        <a asp-action="Index" asp-controller="Especialista">
                            <img src="~/Extras/home.png" alt="Inicio" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionUsuarios" asp-controller="Usuario">
                            <img src="~/Extras/usuarios.png" alt="Usuarios" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="Controles" asp-controller="Controles">
                            <img src="~/Extras/controles.png" alt="Controles" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionProductos" asp-controller="Producto">
                            <img src="~/Extras/productos.png" alt="Productos" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionInformes" asp-controller="Informes">
                            <img src="~/Extras/Informes.png" alt="Informes" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionEscaneos" asp-controller="Escaneos">
                            <img src="~/Extras/escaner.png" alt="Informes" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionEscaneos" asp-controller="Escaneos">
                            <img src="~/Extras/escaner.png" alt="Informes" />
                        </a>
                    </div>
                }

                @if (isControlCalidad)
                {
                    <div class="iconosnav">
                        <a asp-action="Index" asp-controller="Controlcalidad">
                            <img src="~/Extras/home.png" alt="Inicio" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="Controles" asp-controller="Controles">
                            <img src="~/Extras/controles.png" alt="Controles" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionProductos" asp-controller="Producto">
                            <img src="~/Extras/productos.png" alt="Productos" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionInformes" asp-controller="Informes">
                            <img src="~/Extras/Informes.png" alt="Informes" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionEscaneos" asp-controller="Escaneos">
                            <img src="~/Extras/escaner.png" alt="Informes" />
                        </a>
                    </div>
                }
            </div>
            <div class="login-btn">
                <div class="div2">
                    @if (isEspecialista)
                    {
                        <img class="icono-lapiz" src="~/Extras/especialista.png" alt="Especialista">
                        <div class="welcome-container">
                            <span class="welcome-text">Bienvenido!</span>
                            <p>@GetFirstNameAndSurnameB(ViewBag.trab.Nombre)</p>

                            @functions {
                            public string GetFirstNameAndSurnameB(string fullName)
                            {
                                if (string.IsNullOrEmpty(fullName))
                                {
                                    return string.Empty;
                                }

                                var nameParts = fullName.Split(' ');

                                if (nameParts.Length >= 2)
                                {
                                    return nameParts[0] + " " + nameParts[2];
                                }

                                return nameParts[0];
                            }
                        }
                            <p>Especialista</p>
                        </div>
                    }

                    @if (isControlCalidad)
                    {
                        <img class="icono-lapiz" src="~/Extras/controldecalidad.png" alt="Especialista">
                        <div class="welcome-container">
                            <span class="welcome-text">Bienvenido!</span>
                            <p>@GetFirstNameAndSurnameBC(ViewBag.trab.Nombre)</p>

                            @functions {
                            public string GetFirstNameAndSurnameBC(string fullName)
                            {
                                if (string.IsNullOrEmpty(fullName))
                                {
                                    return string.Empty;
                                }

                                var nameParts = fullName.Split(' ');

                                if (nameParts.Length >= 2)
                                {
                                    return nameParts[0] + " " + nameParts[2];
                                }

                                return nameParts[0];
                            }
                        }
                            <p>Control de Calidad</p>
                        </div>
                    }
                </div>
                <button id="showOptionUser" onclick="showOptionUser()">
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                <div id="opcionesUser" style="display: none">
                    <ul>
                        <li>
                            <a style="color:white;" asp-action="Details" asp-controller="Usuario" asp-route-id="@ViewBag.trab.Id">
                                Editar usuario
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Auth" asp-action="LogOut" class="dropdown-item" style="color:red; text-decoration:none;">
                                Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="content" style="margin-top:20px">
            <h2 class="accesotitulo" style="font-weight:100; font-size:1rem;">Informe generado</h2>

    </div>

<main>
   
    <section class="informesContainer">
        <div class="cabezaInforme">

                <h2>Informe N° </h2>
                <p>Fecha de generacion: @ViewBag.Fecha</p>

        </div>

        <div >
            <div class="Titulo">
                    <h3 style="font-family: Arial; margin-bottom: 8px;"> <strong>Título:</strong> @ViewBag.titulo</h3>
            </div>
                <div class="enfoque" style="font-family: Arial;">
                    <strong >Enfoque:</strong> @ViewBag.enfoque
            </div>
                <div class="Contenido" style="font-family: Arial;">
                    <strong >Contenido:</strong> @ViewBag.contenido
            </div>
                <div class="encargado" style="font-family: Arial;">Generado por @ViewBag.nombreEncargado con ia.</div>

                <form asp-action="Create" method="post">
                    <input hidden name="Titulo" value="@ViewBag.titulo" />
                    <input hidden name="Enfoque" value="@ViewBag.enfoque" />
                    <input hidden name="Descripcion" value="@ViewBag.contenido" />

                    <button id="guardarInforme" style="display: block; margin: 20px auto;"> <i class="fa-solid fa-file-circle-plus" style="font-size: 15px;"></i> Guardar informe</button>
                </form>

        </div>
    </section>
</main>
</body>

<script src="~/js/especialista.js"></script>

</html>

