@model ScannerCC.Models.Controles

@{
    ViewData["Title"] = "Details";
}

<style>
    body {
        background-color: #242424;
        color: white;
    }

    .container {
        text-align: center;
    }

    a {
        color: white;
    }

        a:hover {
            color: #62EBF0;
        }

    .row dt,
    .row dd {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>

<h1>Detalles</h1>

<div>
    <h4>Control</h4>
    <hr />
    <dl class="row justify-content-center">
        <div class="col-sm-4">
            <div class="row justify-content-center">
                <dt class="col-sm-6">Producto</dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Productos.Nombre)
                </dd>
                <dt class="col-sm-6">Linea</dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Linea)
                </dd>

                <dt class="col-sm-6">Pais de destino</dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.PaisDestino)
                </dd>
                <dt class="col-sm-6">Comentario</dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Comentario)
                </dd>
                <dt class="col-sm-6">Tipo de control</dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Tipodecontrol)
                </dd>
                <!-- Si el estado es "Reproceso", mostrar EstadoFinal y FechaHoraControlFinal -->
                @if (Model.Estado == "Reproceso")
                {
                    <dt class="col-sm-6">Fecha/Hora control final</dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.FechaHoraControlFinal)
                    </dd>
                    <dt class="col-sm-6">Estado final</dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.EstadoFinal)
                    </dd>
                }
                else
                {
                    <!-- Mostrar los valores iniciales si el estado no es "Reproceso" -->
                    <dt class="col-sm-6">Fecha/Hora primer control</dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.FechaHoraPrimerControl)
                    </dd>
                    <dt class="col-sm-6">Estado inicial</dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Estado)
                    </dd>
                }
            </div>
        </div>
    </dl>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Volver a la lista</a>
</div>
