@{
    Layout = null;
    bool isEspecialista = User.IsInRole("Especialista");
    bool isControlCalidad = User.IsInRole("Control de Calidad");
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Extras/favicon.png" type="image/x-icon">
    <title>QS - Gestión controles</title>
    <link rel="stylesheet" href="~/css/GestionControles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav-i">
            <a href="@Url.Action("Index", "Home")">
                <img class="logoqs" src="~/Extras/QualityScoutLogo.png" alt="Logo de Quality Scout">
            </a>
            <div class="navstyle">
                @if (isEspecialista)
                {
                    <div class="iconosnav">
                        <a asp-action="Index" asp-controller="Especialista">
                            <img src="~/Extras/home.png" alt="Inicio" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionUsuarios" asp-controller="Usuario">
                            <img src="~/Extras/usuarios.png" alt="Usuarios" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="Controles" asp-controller="Controles">
                            <img src="~/Extras/controles.png" alt="Controles" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionProductos" asp-controller="Producto">
                            <img src="~/Extras/productos.png" alt="Productos" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionInformes" asp-controller="Informes">
                            <img src="~/Extras/Informes.png" alt="Informes" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionEscaneos" asp-controller="Escaneos">
                            <img src="~/Extras/escaner.png" alt="Informes" />
                        </a>
                    </div>
                }

                @if (isControlCalidad)
                {
                    <div class="iconosnav">
                        <a asp-action="Index" asp-controller="Controlcalidad">
                            <img src="~/Extras/home.png" alt="Inicio" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="Controles" asp-controller="Controles">
                            <img src="~/Extras/controles.png" alt="Controles" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionProductos" asp-controller="Producto">
                            <img src="~/Extras/productos.png" alt="Productos" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionInformes" asp-controller="Informes">
                            <img src="~/Extras/Informes.png" alt="Informes" />
                        </a>
                    </div>
                }
            </div>
            <div class="login-btn">
                <div class="div2">
                    @if (isEspecialista)
                    {
                        <img class="icono-lapiz" src="~/Extras/especialista.png" alt="Especialista">
                        <div class="welcome-container">
                            <span class="welcome-text">Bienvenido!</span>
                            <p>@ViewBag.trab.Nombre</p>
                            <p>Especialista</p>
                        </div>
                    }

                    @if (isControlCalidad)
                    {
                        <img class="icono-lapiz" src="~/Extras/controldecalidad.png" alt="Especialista">
                        <div class="welcome-container">
                            <span class="welcome-text">Bienvenido!</span>
                            <p>@ViewBag.trab.Nombre</p>
                            <p>Control de Calidad</p>
                        </div>
                    }
                </div>
                <button id="showOptionUser" onclick="showOptionUser()">
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                <div id="opcionesUser" style="display: none">
                    <ul>
                        <li>
                            <a style="color:white;" asp-action="Details" asp-controller="Usuario" asp-route-id="@ViewBag.trab.Id">
                                Editar usuario
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Auth" asp-action="LogOut" class="dropdown-item" style="color:red; text-decoration:none;">
                                Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<div class="content">
    <div class="content">
            <h2 class="accesotitulo"><strong>Gestión de controles</strong></h2>
    </div>
</div>
<main>
    <div class="filter-order-container">
            <div class="filter" onclick="toggleFilter()" style="margin-left: 0px;">
                <span><i class="fa-solid fa-filter"></i></span> <!-- Icono de filtro -->
                <span>Filtro</span>
            </div>
            <div id="filterOptions" class="filter-options">
                <select id="estadoFilter" onchange="filterByEstado()">
                    <option value="">Filtrar por estado inicial</option>
                    <option value="Aprobado">Aprobado</option>
                    <option value="Rechazado">Rechazado</option>
                    <option value="Reproceso">Reproceso</option>
                </select>
            </div>
            <div class="order" onclick="toggleOrderOptions()">
                <span>Orden</span>
                <span class="dropdown"><i class="fa-solid fa-sort-down"></i></span>
            </div>
            <div id="orderOptions" class="order-options">
                <select id="fechaOrden" onchange="orderByFecha()">
                    <option value="">Ordenar por fecha</option>
                    <option value="asc">Más antigua</option>
                    <option value="desc">Más reciente</option>
                </select>
            </div>
    </div>

        <section class="user-list">
        <h2 class="titulo" style="margin-top: 5px;"><strong>Registros</strong></h2>

            @if (ViewBag.Controles != null && ViewBag.Controles.Count > 0)
        {
            @foreach (var item in ViewBag.Controles)
            {
                <div class="user-card @(item.Estado == "Aprobado" ? "estado-aprobado" : item.Estado == "Rechazado" ? "estado-rechazado" : item.Estado == "Reproceso" ? "estado-reproceso" : "")">
                    <div class="user-info">
                        <img src="~/Extras/iconControlCheck.png" class="user-icon" alt="Icono de control" />
                        <div>
                            <p><strong>@item.Productos.Nombre</strong></p>
                            <p>Fecha: @item.FechaHoraPrimerControl.ToString("dd-MM-yyyy HH:mm")</p>
                        </div>
                    </div>
                    <div class="user-details">
                            <p>
                                Estado:
                                <span class="@(item.Estado == "Aprobado" ? "aprobado" : item.Estado == "Rechazado" ? "rechazado" : item.Estado == "Reproceso" ? "reproceso" : "")">
                                    @item.Estado
                                </span>
                            </p>
                    </div>
                    <div class="user-actions">
                            @if (isControlCalidad)
                            {

                                <a class="see-btn" asp-action="Delete2" asp-controller="Controles" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                </a>
                                @if (item.Estado == "Reproceso" && string.IsNullOrEmpty(item.EstadoFinal))
                                {
                                    <a class="edit-btn" asp-action="Edit2" asp-controller="Controles" asp-route-id="@item.Id">
                                        <i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i>
                                    </a>

                                }
                                <a class="see-btn" asp-action="Details2" asp-controller="Controles" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i>
                                </a>
                                
                            }
                            @if (isEspecialista)
                            {
                                    <a class="see-btn" asp-action="Details2" asp-controller="Controles" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i>
                                    </a>

                            }
                    </div>
                </div>
            }
            }
            else
            {
                <p style="text-align: center;">No hay controles para mostrar</p>
            }
        </section>
</main>

</body>
<script src="~/js/quagga.min.js"></script>
<script src="~/js/especialista.js"></script>

</html>

<script>
    function toggleFilter() {
        const filterOptions = document.getElementById("filterOptions");
        filterOptions.style.display = filterOptions.style.display === "none" || filterOptions.style.display === "" ? "block" : "none";
    }

    // Filtrado por estado
    function filterByEstado() {
        const selectedEstado = document.getElementById("estadoFilter").value;
        const userCards = document.querySelectorAll(".user-card");

        userCards.forEach(card => {
            const estado = card.querySelector(".user-details span").textContent.trim();

            // Mostrar u ocultar según el estado seleccionado
            if (selectedEstado === "" || estado === selectedEstado) {
                card.style.display = "flex"; // Mostrar si coincide o si se selecciona "Todos"
            } else {
                card.style.display = "none"; // Ocultar si no coincide
            }
        });

        // Ocultar el filtro después de seleccionar una opción
        document.getElementById("filterOptions").style.display = "none";
    }

    // Cerrar el menú al hacer clic fuera
    document.addEventListener("click", function(event) {
        const filterOptions = document.getElementById("filterOptions");
        const filter = document.querySelector(".filter");

        // Verificar si el clic se hizo fuera del filtro o del menú desplegable
        if (!filter.contains(event.target) && !filterOptions.contains(event.target)) {
            filterOptions.style.display = "none";
        }
    });

    ////////////////////////////////////////////////////////////////
    function toggleOrderOptions() {
        const orderOptions = document.getElementById("orderOptions");
        orderOptions.style.display = orderOptions.style.display === "none" || orderOptions.style.display === "" ? "block" : "none";
    }

    function orderByFecha() {
        var selectedOrder = document.getElementById("fechaOrden").value;
        // Redirige a la acción GestionControles con el parámetro orderByDate
        window.location.href = '@Url.Action("GestionControles", "Controles")?orderByDate=' + selectedOrder;
    }

    document.addEventListener("click", function(event) {
        const orderOptions = document.getElementById("orderOptions");
        const order = document.querySelector(".order");

        // Solo cerrar el menú si el clic se hace fuera de .order y #orderOptions
        if (!order.contains(event.target) && !orderOptions.contains(event.target)) {
            orderOptions.style.display = "none";
        }
    });
</script>