@model ScannerCC.Models.Productos

@{
    Layout = null;
    bool isEspecialista = User.IsInRole("Especialista");
    bool isControlCalidad = User.IsInRole("Control de Calidad");
}

<style>

    .form-group {
        margin-bottom: 15px;
    }

    button.a {
        background-color: #BE6464;
        border-radius: 50%;
        width: 30px; /* Establece un ancho y alto iguales para que el botón sea circular */
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        border: none; /* Opcional: elimina el borde */
        cursor: pointer; /* Muestra el puntero de mano al pasar sobre el botón */
    }

        button.a i {
            color: white;
        }

    label, dt {
        color: #4B0404; /* Cambia este valor por el color que desees */
        font-family: Arial;
        border: none;
        font-size: 12px;
        margin-left: 4px;
    }

    input, dd {
        color: black; /* Color del texto */
        border-radius: 5px; /* Bordes redondeados (opcional) */
        font-family: Arial;
        background-color: #DBD7D7;
        border: none;
        padding: 3px;
        font-size: 10px;
    }

    h5 {
        color: #4B0404;
        font-family: Arial;
        font-size: 14px;
    }

    input.acc {
        color: white;
        background-color: #BF6565;
        width: 30%;
        padding: 5px;
        font-size: 14px;
    }

    select {
        color: black; /* Color del texto */
        background-color: #DBD7D7; /* Color de fondo */
        padding: 5px; /* Espaciado interno */
        border-radius: 5px; /* Bordes redondeados (opcional) */
        font-family: Arial;
        border: none;
    }

    button {
        color: white; /* Color del texto */
        padding: 5px; /* Espaciado interno */
        background-color: #BF6565;
        border-radius: 5px; /* Bordes redondeados (opcional) */
        font-family: Arial;
        border: none;
        width: 30%;
    }

        button.btn {
            background-color: black;
            width: 30%;
        }

        a.btn {
        color: white; /* Color del texto */
        padding: 5px; /* Espaciado interno */
        background-color: #BF6565;
        border-radius: 5px; /* Bordes redondeados (opcional) */
        font-family: Arial;
        border: none;
        width: 30%;
        }

    input, select, dd {
        width: 300px;
        margin: 3px;
    }

    button[type="submit"] {
        background-color: #BF6565;
        color: white;
        width: 30%;
    }

        button[type="submit"]:hover {
            background-color: #F25757;
            color: white;
            width: 30%;
        }

    a.a {
        color: #F25C5C;
        text-decoration: none;
        font-family: Arial;
        font-size: 11px;
        font-weight: bold;
    }

        a.a:hover {
            color: #260202;
            font-family: Arial;
            font-size: 11px;
            font-weight: bold;
        }

    h3 {
        color: #4B0404;
    }

    .titulos {
        font-family: Arial;
        font-size: 10px;
        padding-left: 5px;
    }

    .profile-header {
        display: flex;
        align-items: center; /* Alinea verticalmente la imagen y el texto */
        margin-bottom: 20px;
    }

    .info-left {
        text-align: center;
        margin-top: 80px;
    }

    .modal {
        display: none; /* Oculto por defecto */
        position: fixed;
        z-index: 100; /* Asegura que está por encima del contenido */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    }

    /* El contenedor de contenido del modal */
    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border-radius: 8px;
        width: 400px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }

    /* Título de alerta */
    .alerta {
        color: #260202;
        font-size: 24px;
        margin-bottom: 15px;
    }

    /* Texto dentro del modal */
    .modal-content p {
        font-size: 18px;
        color: #333;
    }

    /* Botones del modal */
    .modal-buttons {
        margin-top: 20px;
    }

    /* Texto destacado en rojo */
    .desactivar {
        color: #f25757;
    }

    .modall {
        display: none; /* Oculto por defecto */
        position: fixed;
        z-index: 100; /* Asegura que está por encima del contenido */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    }

    /* El contenedor de contenido del modal */
    .modall-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border-radius: 8px;
        width: 400px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }

    /* Texto dentro del modal */
    .modall-content p {
        font-size: 18px;
        color: #333;
    }

    /* Botones del modal */
    .modall-buttons {
        margin-top: 20px;
    }

    .activar {
        color: #f25757;
    }

    .radio-circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 2.5px solid #260202;
        border-radius: 50%;
        margin-right: 4px;
        transition: background-color 0.3s, border-color 0.3s;
    }

    .option-text {
        color: #260202;
        font-size: 10.5px;
        font-weight: 500;
        margin-right: 5px;
    }

    .radio-checked {
        background-color: #ff6666; /* Color cuando está seleccionado */
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 2.5px solid #260202;
        border-radius: 50%;
        margin-right: 4px;
        transition: background-color 0.3s, border-color 0.3s;
    }

    .form-check {
        margin-right: 20px;
    }

    .form-grouppp {
        display: flex;
        align-items: center; /* Alinea verticalmente los elementos al centro */
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #260202;
    }

    .med {
        margin-right: 15px; /* Ajusta el espacio entre el label y los radio buttons */
    }

    dt.espacio {
        margin-bottom: 50px;
        padding: 0px;
    }

    dd.espacio {
        background-color: transparent;
    }
</style>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Extras/favicon.png" type="image/x-icon">
    <title>QS - Ver producto</title>
    <link rel="stylesheet" href="~/css/Nav.css">
    <link rel="stylesheet" href="~/css/ImgP.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav-i">
            <a href="@Url.Action("RedirigirSegunRol", "Home")">
                <img class="logoqs" src="~/Extras/QualityScoutLogo.png" alt="Logo de Quality Scout">
            </a>
            <div class="navstyle">
                @if (isEspecialista)
                {
                    <div class="iconosnav">
                        <a asp-action="Index" asp-controller="Especialista">
                            <img src="~/Extras/home.png" alt="Inicio" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionUsuarios" asp-controller="Usuario">
                            <img src="~/Extras/usuarios.png" alt="Usuarios" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="Controles" asp-controller="Controles">
                            <img src="~/Extras/controles.png" alt="Controles" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionProductos" asp-controller="Producto">
                            <img src="~/Extras/productos.png" alt="Productos" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionInformes" asp-controller="Informes">
                            <img src="~/Extras/Informes.png" alt="Informes" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionEscaneos" asp-controller="Escaneos">
                            <img src="~/Extras/escaner.png" alt="Informes" />
                        </a>
                    </div>
                }

                @if (isControlCalidad)
                {
                    <div class="iconosnav">
                        <a asp-action="Index" asp-controller="Controlcalidad">
                            <img src="~/Extras/home.png" alt="Inicio" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="Controles" asp-controller="Controles">
                            <img src="~/Extras/controles.png" alt="Controles" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionProductos" asp-controller="Producto">
                            <img src="~/Extras/productos.png" alt="Productos" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionInformes" asp-controller="Informes">
                            <img src="~/Extras/Informes.png" alt="Informes" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionEscaneos" asp-controller="Escaneos">
                            <img src="~/Extras/escaner.png" alt="Informes" />
                        </a>
                    </div>
                }
            </div>
            <div class="login-btn">
                <div class="div2">
                    @if (isEspecialista)
                    {
                        <img class="icono-lapiz" src="~/Extras/especialista.png" alt="Especialista">
                        <div class="welcome-container">
                            <span class="welcome-text">Bienvenido!</span>
                            <p style="font-size:12px;">@GetFirstNameAndSurnameB(ViewBag.trab.Nombre)</p>

                            @functions {
                            public string GetFirstNameAndSurnameB(string fullName)
                            {
                                if (string.IsNullOrEmpty(fullName))
                                {
                                    return string.Empty;
                                }

                                var nameParts = fullName.Split(' ');

                                if (nameParts.Length >= 2)
                                {
                                    return nameParts[0] + " " + nameParts[2];
                                }

                                return nameParts[0];
                            }
                        }
                        <p style="font-size:12px;">Especialista</p>
                        </div>
                    }

                    @if (isControlCalidad)
                    {
                        <img class="icono-lapiz" src="~/Extras/controldecalidad.png" alt="Especialista">
                        <div class="welcome-container">
                            <span class="welcome-text">Bienvenido!</span>
                            <p style="font-size:12px;">@GetFirstNameAndSurnameBC(ViewBag.trab.Nombre)</p>

                            @functions {
                            public string GetFirstNameAndSurnameBC(string fullName)
                            {
                                if (string.IsNullOrEmpty(fullName))
                                {
                                    return string.Empty;
                                }

                                var nameParts = fullName.Split(' ');

                                if (nameParts.Length >= 2)
                                {
                                    return nameParts[0] + " " + nameParts[2];
                                }

                                return nameParts[0];
                            }
                        }
                        <p style="font-size:10px;">Control de Calidad</p>
                        </div>
                    }
                </div>
                <button id="showOptionUser" onclick="showOptionUser()">
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                <div id="opcionesUser" style="display: none">
                    <ul>
                        <li>
                            <a style="color:white;" asp-action="Details" asp-controller="Usuario" asp-route-id="@ViewBag.trab.Id">
                                Editar usuario
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Auth" asp-action="LogOut" class="dropdown-item" style="color:red; text-decoration:none;">
                                Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="content">
        <div class="content">
            <h2 class="accesotitulo">Ver producto</h2>
        </div>
    </div>

    <div class="main-container">
        <div class="image-container">
            <div class="box">
                <img src="@Model.URLImagen" alt="Imagen de @Model.Nombre" style="border-radius: 10px; font-family: Arial;">
            </div>

            @if (isEspecialista)
            {
                @if (Model.Activo)
                {
                    <button class="a" style="color:white; margin-top: 10px; margin-left: 120px;" onclick="openModal()"><i class="fa-solid fa-pause"></i></button>
                    <p style="color:black; margin-top:5px; margin-left: 105px; font-size: 13px;">Desactivar</p>
                    <p style="color:black; margin-left: 92px; font-size: 13px;">temporalmente</p>
                }
                else
                {
                    <button class="a" style="color:white; margin-top: 10px; margin-left: 120px;" onclick="openModall()"><i class="fa-solid fa-forward"></i></button>
                    <p style="color:black; margin-top:5px; margin-left: 115px; font-size: 13px;">Activar</p>
                    <p style="color:black; margin-left: 92px; font-size: 13px;">temporalmente</p>
                }


            }

            @if (isControlCalidad)
            {
                @if (Model.Activo)
                {
                    <button class="a" style="color:white; margin-top: 10px; margin-left: 120px;" onclick="window.location.href='@Url.Action("CreateControl", "Controles", new { idProducto = Model.Id })'">
                        <i class="fa-solid fa-file-medical"></i>
                    </button>
                    <p style="color:black; margin-top:5px; margin-left: 110px; font-size: 13px;">Agregar</p>
                    <p style="color:black; margin-left: 113.5px; font-size: 13px;">control</p>
                }
            }
        </div>


        <div class="details-container">
            <div class="ner con">
                <h5 style="margin-left: 80px;">Información del producto</h5>
                <hr />
                <div class="row" style="margin-left: 13px;">
                    <dt class="col-sm-6">Nombre del usuario</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Usuarios.Nombre)</dd>

                    <dt class="col-sm-6">Nombre vino</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Nombre)</dd>

                    <dt class="col-sm-6">Código de barras</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.CodigoBarra)</dd>

                    <dt class="col-sm-6">Código VE</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.CodigoVE)</dd>

                    <dt class="col-sm-6">País de destino</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.PaisDestino)</dd>

                    <dt class="col-sm-6">Fecha de registro</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.FechaRegistro)</dd>

                    <dt class="col-sm-6">Idioma información</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.Idioma)</dd>

                    <dt class="col-sm-6">Unidad de medida en etiqueta</dt>
                    <dd class="col-sm-6">@Html.DisplayFor(model => model.UnidadMedida)</dd>

                    <div class="form-grouppp d-flex justify-content-center align-items-center">
                        <label class="med me-3 mb-0">Activo</label>
                        <div class="form-check form-check-inline align-items-center" style="margin-right: 10px;">
                            <div class="radio-circle @(Model.Activo ? "radio-checked" : "")"></div>
                            <span class="option-text">Sí</span>
                        </div>
                        <div class="form-check form-check-inline align-items-center">
                            <div class="radio-circle @(Model.Activo ? "" : "radio-checked")"></div>
                            <span class="option-text">No</span>
                        </div>
                    </div>

                    <dt class="col-sm-6">Descripción de la cápsula</dt>
                    <dd class="col-sm-6" style="word-wrap: break-word;">@Html.DisplayFor(model => model.DescripcionCapsula)</dd>

                    @if (isEspecialista)
                    {
                        <a class="a" style="margin-left: 115px;" asp-action="Edit" asp-route-id="@Model?.Id">Editar producto</a>
                    }
                </div>
            </div>

            <!-- Columna 2 -->
            <div class="ner con">
                <h5 style="margin-left: 50px;">Detalles de la información química</h5>
                <hr />
                <div class="row" style="margin-left: 13px;">
                    @if (Model.InformacionQuimica != null)
                    {

                        <dt class="col-sm-6">Cepa vino</dt>
                        <dd class="col-sm-6">@Model.InformacionQuimica.Cepa</dd>

                        <dt class="col-sm-6">Azúcar (gr)</dt>
                        <dd class="col-sm-6">
                            <div>
                                <span>Máximo: @Model.InformacionQuimica.MaxAzucar</span> <span style="margin-left: 5px; margin-right: 5px;">||</span>
                                <span>Mínimo: @Model.InformacionQuimica.MinAzucar</span>
                            </div>
                        </dd>

                        <dt class="col-sm-6">Sulfuroso (mg/l)</dt>
                        <dd class="col-sm-6">
                            <div>
                                <span>Máximo: @Model.InformacionQuimica.MaxSulfuroso</span> <span style="margin-left: 5px; margin-right: 5px;">||</span>
                                <span>Mínimo: @Model.InformacionQuimica.MinSulfuroso</span>
                            </div>
                        </dd>

                        <dt class="col-sm-6">Densidad (g/ml)</dt>
                        <dd class="col-sm-6">
                            <div>
                                <span>Máximo: @Model.InformacionQuimica.MaxDensidad</span> <span style="margin-left: 5px; margin-right: 5px;">||</span>
                                <span>Mínimo: @Model.InformacionQuimica.MinDensidad</span>
                            </div>
                        </dd>

                        <dt class="col-sm-6">Grado de alcohol</dt>
                        <dd class="col-sm-6">
                            <div>
                                <span>Máximo: @Model.InformacionQuimica.MaxGradoAlcohol</span> <span style="margin-left: 5px; margin-right: 5px;">||</span>
                                <span>Mínimo: @Model.InformacionQuimica.MinGradoAlcohol</span>
                            </div>
                        </dd>
                        @if (isEspecialista)
                        {
                            <a class="a" style="margin-left: 80px;" asp-action="Edit" asp-controller="InformacionQuimica" asp-route-id="@Model.InformacionQuimica.Id">Editar la información quimica</a>
                        }
                    }
                </div>
            </div>

            <!-- Columna 4 -->
            <div class="ner con">
                <h5 style="margin-left: 90px;">Detalles del producto</h5>
                <hr />
                <div class="row" style="margin-left: 13px;">
                    @if (Model.ProductoDetalles != null && Model.ProductoDetalles.Any())
                    {
                        foreach (var detalle in Model.ProductoDetalles)
                        {
                            <dt class="col-sm-6">Color de la botella</dt>
                            <dd class="col-sm-6">@detalle.ColorBotella</dd>

                            <dt class="col-sm-6">Capacidad (ml)</dt>
                            <dd class="col-sm-6">@detalle.Capacidad</dd>

                            <dt class="col-sm-6">Tipo de cápsula</dt>
                            <dd class="col-sm-6">@detalle.TipoCapsula</dd>

                            <dt class="col-sm-6">Color de la cápsula</dt>
                            <dd class="col-sm-6">@detalle.ColorCapsula</dd>

                            <div class="form-grouppp d-flex justify-content-center align-items-center">
                                <label class="med me-3 mb-0">Medalla</label>
                                <div class="form-check form-check-inline align-items-center" style="margin-right: 10px;">
                                    <div class="radio-circle @(detalle.Medalla ? "radio-checked" : "")"></div>
                                    <span class="option-text">Sí</span>
                                </div>
                                <div class="form-check form-check-inline align-items-center">
                                    <div class="radio-circle @(detalle.Medalla ? "" : "radio-checked")"></div>
                                    <span class="option-text">No</span>
                                </div>
                            </div>

                            <dt class="col-sm-6">Tipo de etiqueta</dt>
                            <dd class="col-sm-6">@detalle.TipoEtiqueta</dd>

                            <dt class="col-sm-6">Medida de etiqueta a boquete (cm)</dt>
                            <dd class="col-sm-6">@detalle.MedidaEtiquetaABoquete</dd>

                            <dt class="col-sm-6">Medida de etiqueta a base (cm)</dt>
                            <dd class="col-sm-6">@detalle.MedidaEtiquetaABase</dd>

                            <dt class="col-sm-6">Tipo de corcho</dt>
                            <dd class="col-sm-6">@detalle.TipoCorcho</dd>

                            @if (isEspecialista)
                            {
                                <a class="a" style="margin-left: 90px;" asp-action="Edit" asp-controller="ProductoDetalles" asp-route-id="@detalle.Id">Editar detalles del producto</a>
                            }
                        }
                    }
                    else
                    {
                        <dd class="col-sm-6">No hay detalles del producto disponible.</dd>
                    }
                </div>
            </div>

            <!-- Columna 3 -->
            <div class="ner con">
                <h5 style="margin-left: 95px;">Detalles de la botella</h5>
                <hr />
                <div class="row" style="margin-left: 13px;">
                    @if (Model.ProductoDetalles != null && Model.ProductoDetalles.Any())
                    {
                        foreach (var detalleB in Model.ProductoDetalles)
                        {
                            <dt class="col-sm-6">Nombre de la botella</dt>
                            <dd class="col-sm-6">@detalleB.BotellaDetalles.NombreBotella</dd>

                            <dt class="col-sm-6">Altura de la botella (cm)</dt>
                            <dd class="col-sm-6">@detalleB.BotellaDetalles.AlturaBotella</dd>

                            <dt class="col-sm-6">Ancho de la botella (cm)</dt>
                            <dd class="col-sm-6">@detalleB.BotellaDetalles.AnchoBotella</dd>

                            @if (isEspecialista)
                            {
                                <a class="a" style="margin-left: 80px;" asp-action="Edit" asp-controller="BotellaDetalles" asp-route-id="@detalleB.BotellaDetalles.Id">Editar detalles de la botella</a>
                            }
                        }
                    }
                    else
                    {
                        <dd class="col-sm-6">No hay detalles de la botella disponible.</dd>
                    }
                </div>
            </div>
            <!-- Columna 5 -->
            <div class="ner con">
                <h5 style="margin-left: 90px;">Historial del producto</h5>
                <hr />
                <div class="row" style="margin-left: 13px;">
                    @if (Model.ProductoHistorial != null && Model.ProductoHistorial.Any())
                    {
                        foreach (var historial in Model.ProductoHistorial)
                        {
                            <dt class="col-sm-6">Fecha de cosecha</dt>
                            <dd class="col-sm-6">@historial.FechaCosecha.ToShortDateString()</dd>

                            <dt class="col-sm-6">Fecha de producción</dt>
                            <dd class="col-sm-6">@historial.FechaProduccion.ToShortDateString()</dd>

                            <dt class="col-sm-6">Fecha de envasado</dt>
                            <dd class="col-sm-6">@historial.FechaEnvasado.ToShortDateString()</dd>

                            @if (isEspecialista)
                            {
                                <a class="a" style="margin-left: 80px;" asp-action="Edit" asp-controller="ProductoHistorial" asp-route-id="@historial.Id">Editar historial del producto</a>
                            }
                        }
                    }
                    else
                    {
                        <dd class="col-sm-6">No hay un historial del producto disponible.</dd>
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="modal" class="modal" style="display: none;">
        <div class="modal-content">
            <h2 class="alerta">ALERTA</h2>
            <p>¿Está seguro que desea <span class="desactivar">desactivar</span> este producto?</p>
            <div class="d-flex justify-content-between w-100" style="margin-left: 5px; margin-top: 15px;">
                <form asp-action="Desactivar">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Aceptar" class="acc btn btn-danger" />
                </form>
                <button onclick="window.location.href='@Url.Action("Details", "Producto")'" class="btn btn-secondary">Cancelar</button>
            </div>
        </div>
    </div>
    <div id="modall" class="modall" style="display: none;">
        <div class="modal-content">
            <h2 class="alerta">ALERTA</h2>
            <p>¿Está seguro que desea <span class="activar">activar</span> este producto?</p>
            <div class="d-flex justify-content-between w-100" style="margin-left: 5px; margin-top: 15px;">
                <form asp-action="Activar">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Activar" class="acc btn btn-danger" />
                </form>
                <button onclick="window.location.href='@Url.Action("Details", "Producto")'" class="btn btn-secondary">Cancelar</button>
            </div>
        </div>
    </div>
    <iframe id="iframeId"
            src="https://www.stack-ai.com/embed/f4e0d66c-8812-4db0-9270-b3eaaeee09e5/f9dd681e-90cd-4c15-b0a6-c40c70bd9f57/6747bfc6ae163a26df8eb677"
            width="350"
            height="600"
            frameborder="0"
            style="position: fixed; z-index: 1; bottom: 15px; right: 15px;"></iframe>



    <script>
        function handleMessage(event) {
          if (event.data.type === 'chatbotStateChange') {
            const iframe = document.getElementById('iframeId')
            if (iframe) {
              if (event.data.isClosed) {
                iframe.style.width = '100px'
                iframe.style.height = '100px'
                iframe.style.display = 'flex'
                iframe.style.justifyContent = 'center'
                iframe.style.alignContent = 'center'
              } else {
                iframe.style.width = '350px'
                iframe.style.height = '650px'
              }
            }
          }
        }

        // Attach event listener
        window.addEventListener('message', handleMessage)

        // If you want to clean up the event listener when the page unloads (optional)
        window.addEventListener('beforeunload', function () {
          window.removeEventListener('message', handleMessage)
        })
    </script>

</body>
<script src="~/js/quagga.min.js"></script>
<script src="~/js/especialista.js"></script>

</html>


<script>
    // Función para abrir el modal
    function openModal() {
        document.getElementById('modal').style.display = 'block';
    }

    // Función para cerrar el modal
    function closeModal() {
        document.getElementById('modal').style.display = 'none';
    }

    // Función para abrir el modal
    function openModall() {
        document.getElementById('modall').style.display = 'block';
    }

    // Función para cerrar el modal
    function closeModall() {
        document.getElementById('modall').style.display = 'none';
    }

    var btn = document.querySelector('.btn');
    var box = document.querySelector('.box')
    btn.addEventListener('click', function () {
        box.style.width = (100 + Math.round(Math.random() * 300)) + 'px';
        box.style.height = (100 + Math.round(Math.random() * 300)) + 'px';
    });
</script>