@model ScannerCC.Models.Productos

@{
    Layout = null;
}

<style>
    .container {
        position: relative;
        z-index: 1;
        margin-left: 320px;
        max-width: 1000px;
        display: flex; /* Coloca los contenedores en una sola fila */
        justify-content: space-between; /* Espacio entre los contenedores */
        gap: 20px; /* Ajusta el espacio entre los contenedores */
    }

    .con {
        z-index: 1;
        margin: 0; /* Quita el margen automático */
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-groupp {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }


    label {
        color: #4B0404; /* Cambia este valor por el color que desees */
        font-family: Arial;
        border: none;
        padding: 5px;
    }

    input {
        color: black; /* Color del texto */
        background-color: #DBD7D7; /* Color de fondo */
        padding: 5px; /* Espaciado interno */
        border-radius: 5px; /* Bordes redondeados (opcional) */
        font-family: Arial;
        font-size: 12px;
        border: none;
    }

    textarea {
        color: black; /* Color del texto */
        background-color: #DBD7D7; /* Color de fondo */
        padding: 5px; /* Espaciado interno */
        border-radius: 5px; /* Bordes redondeados (opcional) */
        font-family: Arial;
        font-size: 12px;
        border: none;
    }

    select {
        color: black; /* Color del texto */
        background-color: #DBD7D7; /* Color de fondo */
        padding: 5px; /* Espaciado interno */
        border-radius: 5px; /* Bordes redondeados (opcional) */
        font-family: Arial;
        border: none;
    }

    button {
        color: black; /* Color del texto */
        padding: 5px; /* Espaciado interno */
        border-radius: 5px; /* Bordes redondeados (opcional) */
        font-family: Arial;
        border: none;
    }

    input, select {
        width: 100%;
        margin: 5px;
    }

    button[type="submit"] {
        background-color: #BF6565;
        color: white;
        width: 100%; /* Se asegura que el botón sea del mismo ancho que los inputs */
        max-width: 150px;
    }

        button[type="submit"]:hover {
            background-color: #F25757;
            color: white;
            width: 100%; /* Se asegura que el botón sea del mismo ancho que los inputs */
            max-width: 150px;
        }

    a {
        color: white;
    }

        a:hover {
            color: #62EBF0;
        }

    .titulos {
        font-family: Arial;
        font-size: 10px;
        padding-left: 5px;
    }

    button.a {
        background-color: #BE6464;
        border-radius: 50%;
        width: 30px; /* Establece un ancho y alto iguales para que el botón sea circular */
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        border: none; /* Opcional: elimina el borde */
        cursor: pointer; /* Muestra el puntero de mano al pasar sobre el botón */
    }

        button.a i {
            color: white;
        }

    .modal {
        display: none; /* Oculto por defecto */
        position: fixed;
        z-index: 100; /* Asegura que está por encima del contenido */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    }

    /* El contenedor de contenido del modal */
    .modal-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border-radius: 8px;
        width: 400px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }

    /* Título de alerta */
    .alerta {
        color: #260202;
        font-size: 24px;
        margin-bottom: 15px;
    }

    /* Texto dentro del modal */
    .modal-content p {
        font-size: 18px;
        color: #333;
    }

    /* Botones del modal */
    .modal-buttons {
        margin-top: 20px;
    }

    /* Texto destacado en rojo */
    .desactivar {
        color: #f25757;
    }

    .modall {
        display: none; /* Oculto por defecto */
        position: fixed;
        z-index: 100; /* Asegura que está por encima del contenido */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    }

    /* El contenedor de contenido del modal */
    .modall-content {
        background-color: #fff;
        margin: 15% auto;
        padding: 20px;
        border-radius: 8px;
        width: 400px;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }

        /* Texto dentro del modal */
        .modall-content p {
            font-size: 18px;
            color: #333;
        }

    /* Botones del modal */
    .modall-buttons {
        margin-top: 20px;
    }

    .activar {
        color: #f25757;
    }

    button {
        color: white; /* Color del texto */
        padding: 5px; /* Espaciado interno */
        background-color: #BF6565;
        border-radius: 5px; /* Bordes redondeados (opcional) */
        font-family: Arial;
        border: none;
        width: 30%;
    }
            button.btn {
            background-color: black;
            width: 30%;
        }

    input {
        color: black; /* Color del texto */
        border-radius: 5px; /* Bordes redondeados (opcional) */
        font-family: Arial;
        background-color: #DBD7D7;
        padding: 5px;
        border: none;
        font-size: 12px;
    }

    input.acc {
        color: white;
        background-color: #BF6565;
        width: 30%;
        padding: 5px;
        font-size: 14px;
    }
</style>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Extras/favicon.png" type="image/x-icon">
    <title>QS - Editar producto</title>
    <link rel="stylesheet" href="~/css/Nav.css">
    <link rel="stylesheet" href="~/css/ImgP.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav-i">
            <a href="@Url.Action("Index", "Home")">
                <img class="logoqs" src="~/Extras/QualityScoutLogo.png" alt="Logo de Quality Scout">
            </a>
            <div class="navstyle">
                <div class="iconosnav">
                    <a asp-action="Index" asp-controller="Especialista">
                        <img src="~/Extras/home.png" alt="Inicio" />
                    </a>
                </div>
                <div class="iconosnav">
                    <a asp-action="GestionUsuarios" asp-controller="Usuario">
                        <img src="~/Extras/usuarios.png" alt="Usuarios" />
                    </a>
                </div>
                <div class="iconosnav">
                    <a asp-action="Controles" asp-controller="Controles">
                        <img src="~/Extras/controles.png" alt="Controles" />
                    </a>
                </div>
                <div class="iconosnav">
                    <a asp-action="GestionProductos" asp-controller="Producto">
                        <img src="~/Extras/productos.png" alt="Productos" />
                    </a>
                </div>
                <div class="iconosnav">
                    <a asp-action="GestionInformes" asp-controller="Informes">
                        <img src="~/Extras/Informes.png" alt="Informes" />
                    </a>
                </div>
                <div class="iconosnav">
                    <a asp-action="GestionEscaneos" asp-controller="Escaneos">
                        <img src="~/Extras/escaner.png" alt="Informes" />
                    </a>
                </div>
            </div>
            <div class="login-btn">
                <div class="div2">
                    <img class="icono-lapiz" src="~/Extras/especialista.png" alt="Especialista">
                    <div class="welcome-container">
                        <span class="welcome-text">Bienvenido!</span>
                        <p>@ViewBag.trab.Nombre</p>
                        <p>Especialista</p>
                    </div>
                </div>
                <button id="showOptionUser" onclick="showOptionUser()">
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                <div id="opcionesUser" style="display: none">
                    <ul>
                        <li>
                            <a style="color:white;" asp-action="Details" asp-controller="Usuario" asp-route-id="@ViewBag.trab.Id">
                                Editar usuario
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Auth" asp-action="LogOut" class="dropdown-item" style="color:red; text-decoration:none;">
                                Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="content">
        <div class="content">
            <h2 class="accesotitulo">Editar producto</h2>
        </div>
    </div>
<div class="container">
    <div class="con">
            <div class="row justify-content-center">
                    <div class="row justify-content-center">
                        <div class="doc">
                            <div class="box">
                                <img src="@Model.URLImagen" alt="Imagen de @Model.Nombre" style= "border-radius: 10px;">
                            </div>
                        </div>
                    @if (Model.Activo)
                    {
                        <button class="a" style="color:white; margin-top: 10px; margin-left: 120px;" onclick="openModal()"><i class="fa-solid fa-pause"></i></button>
                        <p style="color:black; margin-top:5px; margin-left: 105px; font-size: 13px;">Desactivar</p>
                        <p style="color:black; margin-left: 92px; font-size: 13px;">temporalmente</p>
                    }
                    else
                    {
                        <button class="a" style="color:white; margin-top: 10px; margin-left: 120px;" onclick="openModall()"><i class="fa-solid fa-play"></i></button>
                        <p style="color:black; margin-top:5px; margin-left: 115px; font-size: 13px;">Activar</p>
                        <p style="color:black; margin-left: 92px; font-size: 13px;">temporalmente</p>
                    }
                    </div>
            </div>
    </div>
    <div class="con" style="margin-left: 30px; margin-right: 120px;">
            <div class="row justify-content-center">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="row">
                        <div class="form-group">
                            <label asp-for="IdInformacionQuimica" class="control-label">Información química</label>
                            <select asp-for="IdInformacionQuimica" name="IdInformacionQuimica" class="form-control" asp-items="ViewBag.IdInformacionQuimica">
                                <option value="">Seleccione un información química</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="CodigoBarra" class="control-label">Código de barras</label>
                            <input asp-for="CodigoBarra" name="CodigoBarra" class="form-control" />
                            <span asp-validation-for="CodigoBarra" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CodigoVE" class="control-label">Código VE</label>
                            <input asp-for="CodigoVE" name="CodigoVE" class="form-control" />
                            <span asp-validation-for="CodigoVE" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label">Nombre vino</label>
                            <input asp-for="Nombre" name="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="URLImagen" class="control-label">URL de la imagen</label>
                            <input asp-for="URLImagen" name="URLImagen" class="form-control" />
                            <span asp-validation-for="URLImagen" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PaisDestino" class="control-label">País de destino</label>
                            <select asp-for="PaisDestino" name="PaisDestino" id="PaisDestino" class="form-control">
                                <option value="">Seleccione un país</option>
                                <option value="Brasil">Brasil</option>
                                <option value="Canadá">Canadá</option>
                                <option value="Chile">Chile</option>
                                <option value="Colombia">Colombia</option>
                                <option value="España">España</option>
                                <option value="Estados Unidos">Estados Unidos</option>
                                <option value="Japón">Japón</option>
                                <option value="México">México</option>
                                <option value="Perú">Perú</option>
                                <option value="República Checa">República Checa</option>
                                <option value="Rusia">Rusia</option>
                                <option value="Turquía">Turquía</option>
                                <option value="Ucrania">Ucrania</option>
                                <option value="Venezuela">Venezuela</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Idioma" class="control-label">Idioma información</label>
                            <select asp-for="Idioma" name="Idioma" id="Idioma" class="form-control">
                                <option value="">Seleccione un idioma</option>
                                <option value="Chino">Chino</option>
                                <option value="Español">Español</option>
                                <option value="Inglés">Inglés</option>
                                <option value="Japonés">Japonés</option>
                                <option value="Ruso">Ruso</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="UnidadMedida" class="control-label">Unidad de medida en etiqueta</label>
                            <select asp-for="UnidadMedida" name="UnidadMedida" id="UnidadMedida" class="form-control">
                                <option value="">Seleccione una unidad de medida</option>
                                <option value="Centímetro cúbico (cc)">Centímetro cúbico (cc)</option>
                                <option value="Mililitros (ml)">Mililitros (ml)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="DescripcionCapsula" class="control-label">Descripción de la cápsula</label>
                            <textarea asp-for="DescripcionCapsula" name="DescripcionCapsula" class="form-control" style=" margin-left:5px; margin-top:5px; width: 570px; height:60px;"></textarea>
                            <span asp-validation-for="DescripcionCapsula" class="text-danger"></span>
                        </div>
                        <div class="form-groupp">
                            <button type="submit" class="btnAccionForm" style="margin-bottom: 50px;">
                                <i class="fa-solid fa-caret-right"></i> Guardar cambios
                            </button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</div>
    <div id="modal" class="modal" style="display: none;">
        <div class="modal-content">
            <h2 class="alerta">ALERTA</h2>
            <p>¿Está seguro que desea <span class="desactivar">desactivar</span> este producto?</p>
            <div class="d-flex justify-content-between w-100" style="margin-left: 5px; margin-top: 15px;">
                <form asp-action="Desactivar">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Aceptar" class="acc btn btn-danger" />
                </form>
                <button onclick="window.location.href='@Url.Action("Edit", "Producto")'" class="btn btn-secondary">Cancelar</button>
            </div>
        </div>
    </div>
</body>
<script src="~/js/quagga.min.js"></script>
<script src="~/js/especialista.js"></script>

</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<script>
    // Función para abrir el modal
    function openModal() {
        document.getElementById('modal').style.display = 'block';
    }

    // Función para cerrar el modal
    function closeModal() {
        document.getElementById('modal').style.display = 'none';
    }

    // Función para abrir el modal
    function openModall() {
        document.getElementById('modall').style.display = 'block';
    }

    // Función para cerrar el modal
    function closeModall() {
        document.getElementById('modall').style.display = 'none';
    }

    var btn = document.querySelector('.btn');
    var box = document.querySelector('.box')
    btn.addEventListener('click', function () {
        box.style.width = (100 + Math.round(Math.random() * 300)) + 'px';
        box.style.height = (100 + Math.round(Math.random() * 300)) + 'px';
    });
</script>