@{
    Layout = null;
    bool isEspecialista = User.IsInRole("Especialista");
    bool isControlCalidad = User.IsInRole("Control de Calidad");
}

<style>
    .espacio {
        width: 340px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Extras/favicon.png" type="image/x-icon">
    <title>QS - Gestión escaneos</title>
    <link rel="stylesheet" href="~/css/GestionEscaneos.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav-i">
            <a href="@Url.Action("RedirigirSegunRol", "Home")">
                <img class="logoqs" src="~/Extras/QualityScoutLogo.png" alt="Logo de Quality Scout">
            </a>
            <div class="navstyle">
                @if (isEspecialista)
                {
                    <div class="iconosnav">
                        <a asp-action="Index" asp-controller="Especialista">
                            <img src="~/Extras/home.png" alt="Inicio" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionUsuarios" asp-controller="Usuario">
                            <img src="~/Extras/usuarios.png" alt="Usuarios" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="Controles" asp-controller="Controles">
                            <img src="~/Extras/controles.png" alt="Controles" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionProductos" asp-controller="Producto">
                            <img src="~/Extras/productos.png" alt="Productos" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionInformes" asp-controller="Informes">
                            <img src="~/Extras/Informes.png" alt="Informes" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionEscaneos" asp-controller="Escaneos">
                            <img src="~/Extras/escaner.png" alt="Informes" />
                        </a>
                    </div>
                }

                @if (isControlCalidad)
                {
                    <div class="iconosnav">
                        <a asp-action="Index" asp-controller="Controlcalidad">
                            <img src="~/Extras/home.png" alt="Inicio" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="Controles" asp-controller="Controles">
                            <img src="~/Extras/controles.png" alt="Controles" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionProductos" asp-controller="Producto">
                            <img src="~/Extras/productos.png" alt="Productos" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionInformes" asp-controller="Informes">
                            <img src="~/Extras/Informes.png" alt="Informes" />
                        </a>
                    </div>
                    <div class="iconosnav">
                        <a asp-action="GestionEscaneos" asp-controller="Escaneos">
                            <img src="~/Extras/escaner.png" alt="Informes" />
                        </a>
                    </div>
                }
            </div>
            <div class="login-btn">
                <div class="div2">
                    @if (isEspecialista)
                    {
                        <img class="icono-lapiz" src="~/Extras/especialista.png" alt="Especialista">
                        <div class="welcome-container">
                            <span class="welcome-text">Bienvenido!</span>
                            <p style="font-size:12px;">@ViewBag.trab.Nombre</p>

                            
                        <p style="font-size:12px;">Especialista</p>
                        </div>
                    }

                    @if (isControlCalidad)
                    {
                        <img class="icono-lapiz" src="~/Extras/controldecalidad.png" alt="Especialista">
                        <div class="welcome-container">
                            <span class="welcome-text">Bienvenido!</span>
                            <p style="font-size:12px;">@ViewBag.trab.Nombre</p>

                            
                        <p style="font-size:12px;">Control de Calidad</p>
                        </div>
                    }
                </div>
                <button id="showOptionUser" onclick="showOptionUser()">
                    <i class="fa-solid fa-caret-down"></i>
                </button>
                <div id="opcionesUser" style="display: none">
                    <ul>
                        <li>
                            <a style="color:white;" asp-action="Details" asp-controller="Usuario" asp-route-id="@ViewBag.trab.Id">
                                Editar usuario
                            </a>
                        </li>

                        <li>
                            <a asp-controller="Auth" asp-action="LogOut" class="dropdown-item" style="color:red; text-decoration:none;">
                                Cerrar sesión
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<div class="content">
    <div class="content">
        <h2 class="accesotitulo">Gestión de escaneos</h2>
    </div>
</div>
<main>
    
    <section class="scan-list">
        <div style="display:flex; flex-direction:row; justify-content:space-between;width:100%;">
                <h2 class="titulo" style="margin-top: 5px;">Registros </h2>
                <a asp-action="Scanner" class="btnAbrirCamara"> <i class="fa-solid fa-camera"></i> Abrir Escáner/Buscador</a>


        </div>
            <div class="filter-order-container">
                <div class="order" onclick="toggleOrderOptions()">
                    <span>Orden por producto</span>
                    <span class="dropdown"><i class="fa-solid fa-arrow-down-a-z"></i></span>
                </div>
                <div id="orderOptions" class="order-options">
                    <select id="productoOrden" onchange="orderByProductoNombre()">
                        <option value="">Ordenar por nombre de producto</option>
                        <option value="asc">A-Z</option>
                        <option value="desc">Z-A</option>
                    </select>
                </div>
                <div class="orden" onclick="toggleOrderOption()">
                    <span>Orden por fecha</span>
                    <span class="dropdown"><i class="fa-solid fa-sort-down"></i></span>
                </div>
                <div id="orderOption" class="order-option">
                    <select id="fechaOrden" onchange="orderByFecha()">
                        <option value="">Ordenar por fecha</option>
                        <option value="asc">Más antigua</option>
                        <option value="desc">Más reciente</option>
                    </select>
                </div>
            </div>



            @foreach (var item in ViewBag.Escaneos)
            {
                <div class="scan-card">
                    <div class="scan-info">
                        <img src="~/Extras/escaner.png" class="scan-icon" />
                        <div>
                            <p><strong>Producto:</strong> @item.Productos.Nombre</p> <p>Código de barras: @item.Productos.CodigoBarra</p>

                        </div>
                    </div>
                    <div class="scan-details">
                        <p><strong>Fecha:</strong> @item.Fecha.ToString("dd/MM/yyyy") <strong style="margin-left: 10px;">Hora:</strong> @item.Fecha.ToString("HH:mm")</p>
                        <p class="espacio">Usuario: @item.Usuarios.Nombre</p>
                        <p>Rut: @item.Usuarios.Rut</p>

                    </div>
                    <div class="scan-actions">
                        <a class="see-btn" asp-action="Details" asp-controller="Producto" asp-route-id="@item.Productos.Id">
                            <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i>
                        </a>
                    </div>
                </div>
            }
    </section>
</main>
    <iframe id="iframeId"
            src="https://www.stack-ai.com/embed/f4e0d66c-8812-4db0-9270-b3eaaeee09e5/f9dd681e-90cd-4c15-b0a6-c40c70bd9f57/6747bfc6ae163a26df8eb677"
            width="350"
            height="600"
            frameborder="0"
            style="position: fixed; z-index: 1; bottom: 15px; right: 15px;"></iframe>



    <script>
        function handleMessage(event) {
          if (event.data.type === 'chatbotStateChange') {
            const iframe = document.getElementById('iframeId')
            if (iframe) {
              if (event.data.isClosed) {
                iframe.style.width = '100px'
                iframe.style.height = '100px'
                iframe.style.display = 'flex'
                iframe.style.justifyContent = 'center'
                iframe.style.alignContent = 'center'
              } else {
                iframe.style.width = '350px'
                iframe.style.height = '650px'
              }
            }
          }
        }

        // Attach event listener
        window.addEventListener('message', handleMessage)

        // If you want to clean up the event listener when the page unloads (optional)
        window.addEventListener('beforeunload', function () {
          window.removeEventListener('message', handleMessage)
        })
    </script>
</body>
<script src="~/js/quagga.min.js"></script>
<script src="~/js/especialista.js"></script>
</html>

<script>
    function toggleOrderOptions() {
        const orderOptions = document.getElementById("orderOptions");
        orderOptions.style.display = orderOptions.style.display === "none" || orderOptions.style.display === "" ? "block" : "none";
    }

    function orderByProductoNombre() {
        var selectedOrder = document.getElementById("productoOrden").value;
        window.location.href = '@Url.Action("GestionEscaneos", "Escaneos")?orderByProductName=' + selectedOrder;
    }

    document.addEventListener("click", function (event) {
        const orderOptions = document.getElementById("orderOptions");
        const order = document.querySelector(".order");

        // Solo cerrar el menú si el clic se hace fuera de .order y #orderOptions
        if (!order.contains(event.target) && !orderOptions.contains(event.target)) {
            orderOptions.style.display = "none";
        }
    });

    function toggleOrderOption() {
        const orderOption = document.getElementById("orderOption");
        orderOption.style.display = orderOption.style.display === "none" || orderOption.style.display === "" ? "block" : "none";
    }

    function orderByFecha() {
        var selectedOrder = document.getElementById("fechaOrden").value;
        window.location.href = '@Url.Action("GestionEscaneos", "Escaneos")?orderByDate=' + selectedOrder;
    }

    document.addEventListener("click", function (event) {
        const orderOption = document.getElementById("orderOption");
        const orden = document.querySelector(".orden");

        // Solo cerrar el menú si el clic se hace fuera de .order y #orderOptions
        if (!orden.contains(event.target) && !orderOption.contains(event.target)) {
            orderOption.style.display = "none";
        }
    });
</script>
